*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}

/* shared styles */

.btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    padding: 21px 25px;
    background: #F15B22;
    border-style: none;
}




/* normal styles */

.banner{
    background: url(../images/banner/banner1.png);
}
.banner-container{
    display: flex;
    width: 71%;
    max-width: 1141px;
    height: 808px;
    margin: 0 auto;

}
.banner .image {
    width: 100%;
}
.banner .banner-content{
    padding-top: 230px;
    text-align: right;
}
.banner .banner-content h2{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner .banner-content p{
    line-height: 26px;
    color: #444343;
    margin-left: 130px;
    margin-bottom: 30px;
}