*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}

/* shared styles */

.container{
    width: 71%;
    max-width: 1141px;
    margin: 0 auto;
}

.btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    padding: 21px 25px;
    background: #F15B22;
    border-style: none;
}




/* normal styles */

.banner{
    background: url(../images/banner/banner1.png);
}
.banner-container{
    display: flex;
    height: 808px;
}
.banner .image {
    width: 100%;
}
.banner .banner-content{
    padding-top: 230px;
    text-align: right;
}
.banner .banner-content h2{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner .banner-content p{
    line-height: 26px;
    color: #444343;
    margin-left: 130px;
    margin-bottom: 30px;
}

/* failure section */
#failure{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    gap: 87px;
    align-items: center;
}
#failure .failure-image img{
    max-width: 569px;
}
#failure .failure-content{
    max-width: 416px;
}
#failure .failure-content h2{
   font-size: 40px;
   font-weight: bold;
   color: #151414;
   margin-bottom: 24px;
}
#failure .failure-content p{
    line-height: 26px;
   color: #444343;
   margin-bottom: 16px;
}
#failure .failure-content .list{
    display: flex;
    align-items: center;
}
#failure .failure-content ul li{
    list-style: none;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}
#failure .failure-content ul li i{
    width: 24px;
    margin-right: 10px;
    color: #16D887;
}


/* My Plans section */
#my-plans{
    margin-top: 130px;

}
#my-plans h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 55px;
    text-align: center;
}
#my-plans .plans-box{
    display: flex;
    justify-content: space-between;
}
#my-plans .plans-box .plan{
    text-align: center;
}
#my-plans .plans-box .plan img{
    max-width: 93px;
    margin-bottom: 24px;
}
#my-plans .plans-box .plan h3{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;
}
#my-plans .plans-box .plan p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}