*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}

/* shared styles */

.container{
    width: 71%;
    max-width: 1141px;
    margin: 0 auto;
}

.btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    padding: 21px 25px;
    background: #F15B22;
    border-style: none;
}




/* normal styles */

.banner{
    background: url(../images/banner/banner1.png);
}
.banner-container{
    display: flex;
    height: 808px;
}
.banner .image {
    width: 100%;
}
.banner .banner-content{
    padding-top: 230px;
    text-align: right;
}
.banner .banner-content h2{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner .banner-content p{
    line-height: 26px;
    color: #444343;
    margin-left: 130px;
    margin-bottom: 30px;
}

/* failure section */
#failure{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    gap: 87px;
    align-items: center;
}
#failure .failure-image img{
    max-width: 569px;
}
#failure .failure-content{
    max-width: 416px;
}
#failure .failure-content h2{
   font-size: 40px;
   font-weight: bold;
   color: #151414;
   margin-bottom: 24px;
}
#failure .failure-content p{
    line-height: 26px;
   color: #444343;
   margin-bottom: 16px;
}
#failure .failure-content .list{
    display: flex;
    align-items: center;
}
#failure .failure-content ul li{
    list-style: none;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}
#failure .failure-content ul li i{
    width: 24px;
    margin-right: 10px;
    color: #16D887;
}


/* My Plans section */
#my-plans{
    margin-top: 130px;

}
#my-plans h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 55px;
    text-align: center;
}
#my-plans .plans-box{
    display: flex;
    justify-content: space-between;
}
#my-plans .plans-box .plan{
    text-align: center;
}
#my-plans .plans-box .plan img{
    max-width: 93px;
    margin-bottom: 24px;
}
#my-plans .plans-box .plan h3{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;
}
#my-plans .plans-box .plan p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}


/* positive-mindset section */
#positive-mindset{
    margin-top: 130px;
    background: url(../images/gradient2.png), url(../images/watch.png);
    padding: 60px 65px;
    border-radius: 8px;
}
#positive-mindset .content{
    
    max-width: 459px;
}
#positive-mindset .content h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 24px;
}
#positive-mindset .content .call-btn{
    background: white;
    color: #F15B22;
    padding: 20px 36px;
}


/* footer */
footer{
    background: #151414;
    margin-top: 130px;

}
footer .footer-container{
    display: flex;
    padding: 130px 0;
    justify-content: space-between;
}
footer .footer-container .footer-left{
    max-width: 485px;
}
footer .footer-container .footer-left h2{
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
    margin-bottom: 16px;
}
footer .footer-container .footer-left p{
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
footer .footer-container .footer-left .link-p{
    margin-bottom: 16px;
}
footer .footer-container .footer-left ul{
    display: flex;
    gap: 18px;
    margin-top: 32px;
}
footer .footer-container .footer-left ul li a img{
    max-width: 46px;
}

footer .footer-container .footer-right h2{
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-bottom: 31px;
}
footer .footer-container .footer-right form input[type="email"] {
    max-width: 425px;
    padding: 22px;
    color: #F3F3F3;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    background: #15141400;
}
footer .footer-container .footer-right form input[type="submit"] {
    margin-top: 16px;
    background: white;
    color: #F15B22;
    padding: 20px 36px;
    font-size: 20px;
}
